<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PassengerPortal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="search-connections">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Wyszukaj Połączenia
    </NavLink>
</li>



<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Rejestracja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="train-rank">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Ranking pociagów
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-connections">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Zaplanuj podróż
            </NavLink>
        </div>
        <!-- Nowy element nawigacyjny dla Stacji -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stations">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Stacje
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}